---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import Hero from '../components/Hero';
import About from '../components/About';
import Experience from '../components/Experience';
import Skills from '../components/Skills';
import Contact from '../components/Contact';
import { getProfileImage } from '../utils/ImageUtils';
const profileImage = await getProfileImage();
---

<Layout>
  <Navigation client:load />
  <main class="min-h-screen bg-gray-50 dark:bg-black text-gray-900 dark:text-white transition-colors">
    <Hero client:load profileImage={profileImage.src} />
    <About />
    <Experience />
    <Skills />
    <Contact />
  </main>
</Layout>
