@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes aurora {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-aurora {
  background: linear-gradient(
    270deg,
    #FF0080,
    #7928CA,
    #0070F3,
    #38bdf8,
    #FF0080
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300% 300%;
  animation: aurora 8s ease infinite;
  font-weight: 700;
}